﻿/* 
 *  Presto
 *  
 *  (c) 2013
 *  Iskandar  
 *  http://themeforest.net/user/iskandar
 */

/* 
 * PLEASE DON'T EDIT THIS FILE
 * 
 * Instead of editing this file, please use custom.css to add custom styles.
 */

/* Table of Contents
 * ====================================================
 * 
 * 1. Normalize
 * 2. Grid
 * 3. Layout
 * 4. Base Style
 * 	  4.1 Base - Typography
 * 5. Header
 *	  5.1 Header - Top Bar
 *	  5.2 Header - Main Header
 *	  5.3 Header - Main Navigation
 *	  5.4 Header - Bottom Nav
 * 6. Floated Navigation
 * 7. Widgets
 *	  7.1 Widget Top Carousel
 *	  7.2 Widget Post Slider
 *	  7.3 Widget Latest Post Vertical
 * 	  7.4 Widget Post Latest
 *    7.5 Widget Single News Box List
 * 	  7.6 Widget Double News Box List
 *    7.7 Widget Quadruple News Box List
 * 	  7.8 Widget Ads 
 *	  7.9 Widget News Picture
 *	  7.10 Widget Feedburner
 *	  7.11 Widget FB Likebox
 * 	  7.12 Widget Newsbox Carousel
 *    7.13 Widget Newsbox
 *    7.14 Widget Links
 *    7.15 Widget Twitter
 *    7.16 Widget Flickr
 *    7.17 Widget Social Links
 *    7.18 Widget Social Counter
 *    7.19 Widget Blog
 *    7.x Default WordPress Widgets
 * 8. General Styles
 *	  8.1 Post Style
 *    8.2 Tag Cloud
 * 	  8.3 Recent Comment List
 *	  8.4 Breadcrumb
 * 9. jQuery Plugins
 *	  9.1 Flexslider
 *	  9.2 jQuery Tipsy
 * 10. Shortcodes
 *    10.1 Tabs
 *    10.2 Intro Paragraph
 *    10.3 Blockquote
 *    10.4 Dropcap
 *    10.5 HR/Line
 *    10.6 Alert
 *    10.7 Button
 *    10.8 Table
 *    10.9 List
 *    10.10 Accordion
 * 11. Footer
 *    11.1 Footer Widget Area
 * 	  11.2 Footer Copyright
 * 12. Archive
 * 13. Single Post
 *    13.1 Post Navigation
 *    13.2 Author Info
 *    13.3 Related Posts
 *    13.4 Comments Area
 *    13.5 Review Area
 * 14. Search
 * 15. 404
 */

/* 1. Normalize
/* ==================================================== */
	/*@import 'normalize.css';*/
	

/* 2. Grid - based on Foundation
/* ==================================================== */
	*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	.row { width: 100%; max-width: 100%; margin: 0 auto; }
	.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
	.row.collapse .column, .row.collapse .columns { padding: 0; }
	.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
	.row .row.collapse { margin: 0; }
	.column, .columns { float: left; min-height: 0px; padding: 0 15px; position: relative; }
	.column.centered, .columns.centered { float: none; margin: 0 auto; }
	.column.collapse-left, .columns.collapse-left { padding-left: 0; }
	.column.collapse-right, .columns.collapse-right { padding-right: 0; }
	.column.collapse-both, .columns.collapse-both { padding-right: 7.5px; padding-left: 7.5px; }
	.one, .row .one { width: 8.33333%; }
	.two, .row .two { width: 16.66667%; }
	.three, .row .three { width: 25%; }
	.four, .row .four { width: 33.33333%; }
	.five, .row .five { width: 41.66667%; }
	.six, .row .six { width: 50%; }
	.seven, .row .seven { width: 58.33333%; }
	.eight, .row .eight { width: 66.66667%; }
	.nine, .row .nine { width: 75%; }
	.ten, .row .ten { width: 83.33333%; }
	.eleven, .row .eleven { width: 91.66667%; }
	.twelve, .row .twelve { width: 100%; }
	.row { *zoom: 1; }
	.row:before, .row:after { content: " "; display: table; }
	.row:after { clear: both; }


/* 3. Layout
/* ==================================================== */
	.site-wrap {
		margin: 0 auto;
	}
	.site-main-wrap {
		position: relative;
	}
	.container {
		background: #f8f8f8;
		margin: 0 auto;
		width: 1140px;
	}
	.site-container {				
		-webkit-box-shadow: 5px 0 50px rgba(0,0,0,.2), -5px 0 50px rgba(0,0,0,.2);
		   -moz-box-shadow: 5px 0 50px rgba(0,0,0,.2), -5px 0 50px rgba(0,0,0,.2);
		   		box-shadow: 5px 0 50px rgba(0,0,0,.2), -5px 0 50px rgba(0,0,0,.2);
	}
	.site-bottom-content {
		margin-top: 30px;
		padding-top: 30px;
	}

	/* Layout Width Setting */
	.layout-1 .container,
	.layout-2 .container {
		width: 1000px;
	}

	.layout-3 .container,
	.layout-4 .container,
	.layout-5 .container,
	.layout-6 .container,
	.layout-7 .container{
		width: 1140px;
	}

	.primary-content, 
	.primary-sidebar,
	.secondary-sidebar {
		float: left;
		position: relative;
	}
	.primary-sidebar,
	.secondary-sidebar {
		margin-left: 30px;
	}
	
	.primary-content {
		width: 100%;
	}	
	.primary-sidebar {
		width: 300px;
	}
	.secondary-sidebar {
		width: 160px;
	}

	/* LAYOUT 1 */
	.layout-1 .primary-content {
		margin-right: -330px;
	}
	.layout-1 .primary-content-wrap {
		margin-right: 330px;
	}
	.layout-1 .secondary-sidebar {
		display: none;
	}

	/* LAYOUT 2 */
	.layout-2 .primary-content {
		float: right;
		margin-left: -330px;		
	}
	.layout-2 .primary-content-wrap {
		margin-left: 330px;
	}
	.layout-2 .primary-sidebar {
		margin-left: 0;
		margin-right: 30px;
	}
	.layout-2 .secondary-sidebar {
		display: none;
	}

	/* LAYOUT 3 */
	.layout-3 .primary-content {
		margin-right: -520px;
	}
	.layout-3 .primary-content-wrap {
		margin-right: 520px;
	}
	.layout-3 .primary-sidebar {
		float: right;
	}

	/* LAYOUT 4 */
	.layout-4 .primary-content {
		float: right;
		margin-left: -520px;
	}
	.layout-4 .primary-content-wrap {
		margin-left: 520px;
	}
	.layout-4 .primary-sidebar,
	.layout-4 .secondary-sidebar {
		margin-left: 0;
		margin-right: 30px;
	}

	/* LAYOUT 5 */
	.layout-5 .primary-content {
		float: left;
		position: relative;
		margin-left: -330px;
		margin-right: -190px;
		left: 330px;
	}
	.layout-5 .primary-content-wrap {
		margin-left: 330px;
		margin-right: 190px;
	}
	.layout-5 .secondary-sidebar {
		float: right;
	}
	.layout-5 .primary-sidebar {
		left: -560px;
		margin-left: 0;
		margin-right: 30px;
	}

	/* LAYOUT 6 */
	.layout-6 .primary-content {
		float: right;
		margin-right: -330px;
		margin-left: -190px;
		right: 330px;
	}
	.layout-6 .primary-content-wrap {
		margin-left: 190px;
		margin-right: 330px;
	}
	.layout-6 .primary-sidebar {
		right: -750px;
		margin-left: 30px;
		margin-right: 0;
	}
	.layout-6 .secondary-sidebar {
		float: left;
		margin-right: 30px;
		margin-left: 0;
		left: -330px;
	}

	/* Fullwidth */
	.fullwidth .primary-content,
	.fullwidth .primary-content-wrap {
		margin-right: 0;
		margin-left: 0;
	}


/* 4. Base Style
/* ==================================================== */
	*, a:focus{ outline: none; }
	body {
		background-color: #d2d2d2;
		/*background-image: url(../backgrounds/background-1.jpg);*/
		background-position: top center;
		background-attachment: fixed;
		color: #444444;
		font-family: "Helvetica Neue", Arial, Helvetica, Sans-serif;
		font-size: 12px;
		line-height: 1.618;
		position: relative;
		margin: 0;
	}
	a {
		color: #ff564b;
		text-decoration: none;

		-webkit-transition: .2s ease;
				transition: .2s ease;
	}
	img {		
		max-width: 100%;
		height: auto;
		vertical-align: top;
	}
	h1,h2,h3,h4,h5,h6 {
		line-height: 1.618;
	}
	code, pre {
		background: #eee;
		color: #7a7a7a;
		display: block;
		line-height: normal;
		padding: 10px;

		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;

		-webkit-box-shadow: 0 0 5px #e2e2e2 inset;
		   -moz-box-shadow: 0 0 5px #e2e2e2 inset;
				box-shadow: 0 0 5px #e2e2e2 inset;
	}


/* 5. Header
/* ==================================================== */
	/*.site-header {
		margin-bottom: 30px;
	}*/	

	/* 5.1 Header - Top Bar
	/* ==================================================== */
		
	/*
	/* 5.4 Header - Bottom Nav
	/* ==================================================== */
		.bottom-nav {
			background: #2f3337;
			border-bottom: 5px solid #21252a;
			height: 50px;	
			padding: 0 10px;	
			position: relative;
			overflow: hidden;
		}

		/* Newsticker */
		.newsticker {
			overflow: hidden;
			position: relative;
		}
		.newsticker-heading {
			background: #21252a;
			display: inline-block;
			float: left;
			height: 30px;
			margin-top: 7.5px;	
			padding: 0 10px;		
			position: relative;
		}
		.newsticker-heading h3 {			
			color: #ff564b;
			font-family: "Oswald", "Helvetica Neue", Arial, Helvetica, Sans-serif;
			font-size: 12px;
			font-weight: 400;
			letter-spacing: .5px;
			line-height: 30px;			
			margin: 0;
			padding: 0;		
			text-transform: uppercase;
		}
		.newsticker-heading .newsticker-pad {
			margin-top: -8px;
			position: absolute;
			right: -8px;
			top: 50%;
			width: 0; 
			height: 0; 
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent;
			
			border-left: 8px solid #21252a;
		}
		.newsticker-content  {
			float: left;			
			line-height: 45px;
			overflow: auto;
			padding-left: 20px;
		}
		.newsticker-content ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		.newsticker-content ul li {			
			color: #9a9a9a;
			display: block;
			font-style: italic;
			font-size: 11px;
		}
		.newsticker-content ul li a {
			color: #d2d2d2;
			font-size: 12px;
			font-style: normal;
			font-weight: bold;
		}
		.newsticker-content ul li a:hover {
			color: #ff564b;
		}
		.layout-1 .newsticker-excerpt,
		.layout-2 .newsticker-excerpt {
			display: none;
		}

		/* Social Links */
		.bottom-nav .social-links {
			position: absolute;
			right: 10px;
		}
		.bottom-nav .social-links ul {
			list-style-type: none;
			margin: 7.5px 0;
			padding: 0;		
		}
		.bottom-nav .social-links ul li {
			display: block;
			float: left;
		}
		.bottom-nav .social-links ul li a {
			background: #21252a;
			color: #9a9a9a;
			display: block;
			float: left;
			font-size: 16px;			
			height: 30px;
			line-height: 30px;
			margin-left: 5px;
			text-align: center;
			width: 30px;

			-webkit-border-radius: 3px;
			   -moz-border-radius: 3px;
				 -o-border-radius: 3px;
					border-radius: 3px;

			-webkit-box-shadow: 0 0 5px rgba(0,0,0,.2) inset;
		}
		.bottom-nav .social-links ul li a:hover {
			color: #fff;
		}
		.bottom-nav .social-links .icon-shuffle {
			color: #ff564b;
		}
		.bottom-nav .social-links .icon-shuffle:hover {
			background: #ff564b;
		}
		.bottom-nav .social-links .icon-facebook:hover {
			background: #3b5998;
		}
		.bottom-nav .social-links .icon-twitter:hover {
			background: #2daae1;
		}
		.bottom-nav .social-links .icon-gplus:hover {
			background: #f63e28;
		}
		.bottom-nav .social-links .icon-rss:hover {
			background: #f2861d;
		}
		.bottom-nav .social-links .icon-pinterest:hover {
			background: #cb2027;
			color: #fff;
		}


	/* 5.5 Header - Mobile Menu
	/* ==================================================== */
		.main-navigation .main-menu-mobile {
			position: relative;
			margin: 10px;
			display: none;
		}
		.main-navigation .main-menu-mobile .placeholder-menu {
			background: #f2f2f2;
			cursor: pointer;
			display: block;
			height: 30px;
			line-height: 30px;			

			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#a2a2a2));
			background-image: -webkit-linear-gradient(#fff, #a2a2a2);
			background-image: -moz-linear-gradient(#fff, #a2a2a2);
			background-image: -o-linear-gradient(#fff, #a2a2a2);
			background-image: linear-gradient(#fff, #a2a2a2);			

			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}
		.main-navigation .main-menu-mobile .placeholder-menu .mobile-menu-button {			
			float: right;			
			color: #7a7a7a;
			font-size: 14px;
			padding: 0 7px;			

			-webkit-transition: .3s ease;
			   -moz-transition: .3s ease;
					transition: .3s ease;
		}
		.main-navigation .main-menu-mobile .placeholder-menu:hover .mobile-menu-button {
			color: #444444;
		}
		.main-navigation .main-menu-mobile .placeholder-menu .icon-menu {
			color: #7a7a7a;
			font-size: 14px;
			padding-left: 7px;			
		}

		.main-navigation .main-mobile-menu {			
			margin: 0;
			padding: 10px;
			position: absolute;
			top: 30px;
			z-index: 9999;
			width: 100%;
			background: #21252a;
			display: none;

			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}
		.main-navigation .main-mobile-menu ul {
			margin: 0 0 0 30px;
			padding: 0;
		}
		.main-navigation .main-mobile-menu li {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		.main-navigation .main-mobile-menu li a {
			background: #2F3337;
			color: #a2a2a2;
			display: block;
			padding: 5px 10px;
			margin-bottom: 2px;

			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}
		.main-navigation .main-mobile-menu li a:hover {
			color: #fff;
			background: #3e4245;
		}

		
		.top-menu-mobile {
			position: relative;
			display: none;
		}
		.top-menu-mobile .icon-menu {
			background: #383B40;
			color: #fff;
			cursor: pointer;
			display: inline-block;
			font-size: 16px;
			line-height: 35px;
			padding: 0 20px;
		}
		.top-menu-mobile .top-mobile-menu {
			background: #21252a;
			margin: 0;
			left: 0;
			padding: 10px;
			position: absolute;
			top: 40px;
			width: 180px;
			z-index: 99;
			display: none;

			-webkit-border-radius: 0 0 3px 3px;
			-moz-border-radius: 0 0 3px 3px;
			border-radius: 0 0 3px 3px;
		}
		.top-menu-mobile .top-mobile-menu li {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		.top-menu-mobile .top-mobile-menu li a {
			background: #2F3337;
			color: #a2a2a2;
			display: block;
			line-height: normal;
			margin-bottom: 2px;
			padding: 5px;

			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}
		.top-menu-mobile .top-mobile-menu li a:hover {
			color: #fff;
			background: #3e4245;
		}
		.top-menu-mobile .top-mobile-menu ul {
			margin: 0 0 0 15px;
			padding: 0;
		}


/* 6. Floated Navigation
/* ==================================================== */
	.floated-navigation {
		background: #21252a;
		border-top: 5px solid #0d0d0d;
		font-family: "Oswald", "Helvetica Neue", Arial, Helvetica, Sans-serif;
		height: 55px;
		line-height: 50px;
		position: fixed;
		top: -60px;
		width: 100%;
		z-index: 99;

		opacity: .95;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
		filter: alpha(opacity=95);

		-webkit-box-shadow: 0 5px 0 rgba(0,0,0,.1);
		   -moz-box-shadow: 0 5px 0 rgba(0,0,0,.1);
				box-shadow: 0 5px 0 rgba(0,0,0,.1);
	}
	.floated-navigation .container {
		background: transparent;
	}
	.float-menu {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.float-menu li {
		display: block;
		position: relative;
	}
	.float-menu > li {
		float: left;
	}
	.float-menu li a {
		color: #b2b2b2;
		display: block;
		font-size: 14px;
		height: 50px;
		padding: 0 15px;
	}
	.float-menu > li > a {
		border-right: 1px solid #0d0d0d;
		border-right: 1px solid #2f343b \9;
		float: left;
		text-transform: uppercase;

		-webkit-box-shadow: 1px 0 0 #383b40;
		   -moz-box-shadow: 1px 0 0 #383b40;
				box-shadow: 1px 0 0 #383b40;
	}
	.float-menu li a:hover {	
		color: #fff;
	}

	/* Child Menu */
	.float-menu li ul {		
		background: #21252a;
		line-height: 45px;
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 50px;
		width: 180px;	
		display: none;
		z-index: 99;
	}
	.float-menu > li > ul {
		border-top: 5px solid #383b40;
	}
	.float-menu li ul li a {
		border-bottom: 1px solid #0d0d0d;
		border-bottom: 1px solid #2f343b \9;
		font-size: 13px;
		height: 45px;

		-webkit-box-shadow: 0 1px 0 #383b40;
		   -moz-box-shadow: 0 1px 0 #383b40;
				box-shadow: 0 1px 0 #383b40;
	}
	.float-menu li ul li a:hover {
		border-bottom: 5px solid #0d0d0d;
		border-bottom: 1px solid #2f343b \9;
	}
	.float-menu li ul ul {		
		left: 180px;
		top: 0;
		z-index: 99;
	}
	.float-menu .submenu-indicator {
		padding-left: 3px;
	}

	/* Home Logo */
	.float-menu .menu-item-home img {
		width: auto;
		height: 50px;
	}


/* 7. Widgets
/* ==================================================== */
	.widget {
		margin-bottom: 40px;
	}

	/* Widget Title */
	.widget-title {
		background: #f1f1f1 url(../patterns/textured_paper.png);
		border: 1px solid #c2c2c2;
		font-family: "Oswald", "Helvetica Neue", Arial, Helvetica, Sans-serif;
		font-weight: normal;
		height: 40px;
		margin-bottom: 20px;
		line-height: normal;
		padding: 0 10px;

		-webkit-box-shadow: 0 1px 3px #fff inset, 0 -1px 2px #d2d2d2 inset;
		   -moz-box-shadow: 0 1px 3px #fff inset, 0 -1px 2px #d2d2d2 inset;
			 -o-box-shadow: 0 1px 3px #fff inset, 0 -1px 2px #d2d2d2 inset;
				box-shadow: 0 1px 3px #fff inset, 0 -1px 2px #d2d2d2 inset;
	}
	.widget-title {
		border: none;
		background: transparent;
		border-bottom: 5px solid #444;
		padding-left: 0;
		padding-right: 0;

		-webkit-box-shadow: 0 3px 0 #d2d2d2;
		-moz-box-shadow: 0 3px 0 #d2d2d2;
		-o-box-shadow: 0 3px 0 #d2d2d2;
		box-shadow: 0 3px 0 #d2d2d2;
	}
	.widget-title h3 {	
		margin: 0;
		line-height: 37px;
		text-transform: uppercase;		
		-webkit-background-clip: text;
	    -moz-background-clip: text;
	    background-clip: text;
	    color: #444444;
	    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	}
	.widget-title .icon {
		color: #08b0aa;
	}


	/* 7.1 Widget Top Carousel
	/* ==================================================== */
		.widget-top-carousel {
			margin-bottom: 40px;
		}
		.widget-top-carousel .top-carousel-wrap {
			overflow: hidden;
			position: relative;
		}
		.widget-top-carousel .top-carousel {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		.widget-top-carousel .top-carousel li {
			float: left;
		}
		.widget-top-carousel .top-carousel-title {
			display: inline-block;
			color: #444444;
			font-size: 13px;
			font-weight: bold;
		}
		.widget-top-carousel .top-carousel-title:hover {
			color: #ff564b;
		}

		/* Top carousel pagination */
		.widget-top-carousel .top-carousel-pagination {
			background: transparent url(../images/line.png) repeat-x 50% 50%;
			height: 30px;
			margin-top: 30px;
			text-align: center;			
		}
		.widget-top-carousel .top-carousel-pagination-outer {			
			background: #f8f8f8;			
			display: inline-block;		
			padding: 0 5px;
		}
		.widget-top-carousel .top-carousel-pagination-inner {
			background: #f1f1f1;
			display: inline-block;
			height: 30px;
			line-height: 30px;
			padding: 0 10px;
			position: relative;

			-webkit-box-shadow: 0 0 8px rgba(0,0,0,.1) inset;
			   -moz-box-shadow: 0 0 8px rgba(0,0,0,.1) inset;
					box-shadow: 0 0 8px rgba(0,0,0,.1) inset;

			-webkit-border-radius: 3px;
			   -moz-border-radius: 3px;
				 -o-border-radius: 3px;
					border-radius: 3px;
		}
		.widget-top-carousel .top-carousel-pagination-inner a {
			background: #444444;
			display: block;
			float: left;
			height: 12px;
			width: 12px;
			margin: 9px 3px;	
			text-indent: -9999px;

			-webkit-border-radius: 15px;
			   -moz-border-radius: 15px;
				 -o-border-radius: 15px;
					border-radius: 15px;		
		}
		.widget-top-carousel .top-carousel-pagination-inner a:hover {
			background: #21252a;
		}
		.widget-top-carousel .top-carousel-pagination-inner .selected,
		.widget-top-carousel .top-carousel-pagination-inner .selected:hover {
			background: #ff564b;
		}		
		/* Top Carousel nav */
		.widget-top-carousel .top-carousel-nav a {
			position: absolute;
			width: 20px;
			height: 30px;
			margin-top: -15px;
			top: 50%;
			left: 0;
			background: #f8f8f8;
			line-height: 30px;
			text-align: center;
			color: #414243;
		}
		.widget-top-carousel .top-carousel-nav .disabled {
			-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=10)';
			opacity: .1;
			filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
		}
		.widget-top-carousel .top-carousel-nav .top-carousel-next {
			left: auto;
			right: 0;
		}


	/* 7.2 Widget Post Slider
	/* ==================================================== */
		.widget-post-slider {}
		.widget-post-slider .post-slider {
			background: #f1f1f1;
			border: 1px solid #c2c2c2;
			padding: 10px;

			-webkit-box-shadow: 1px 1px 3px #fff inset, -1px -1px 3px #fff inset;
			   -moz-box-shadow: 1px 1px 3px #fff inset, -1px -1px 3px #fff inset;
					box-shadow: 1px 1px 3px #fff inset, -1px -1px 3px #fff inset;
		}
		.widget-post-slider .post-slider .slides li {
			position: relative;
		}
		.widget-post-slider .post-slider .slides img {
			border: 2px solid #fff;
		}
		.widget-post-slider .flex-direction-nav a { margin-top: 0; top: 12px; width: 25px; height: 25px; line-height: 25px; text-align: center; font-size: 12px; background: #000; color: #fff; opacity: 1; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';}
		.widget-post-slider .flex-direction-nav .flex-next { right: 12px; }
		.widget-post-slider .flex-direction-nav .flex-prev { right: 37px; left: auto; }

		/* Post Slider - Style 1 */
		.widget-post-slider .post-slider-1 .slider-caption {
			bottom: 0;
			border-right: 2px solid #fff;
			border-left: 2px solid #fff;
			border-bottom: 2px solid #fff;
			background: url(../images/transparent-black.png);
			padding: 15px 15px 10px 15px;
			position: absolute;
			width: 100%;			
			-webkit-box-shadow: 0 1px 2px rgba(255,255,255,.1) inset;
			   -moz-box-shadow: 0 1px 2px rgba(255,255,255,.1) inset;
					box-shadow: 0 1px 2px rgba(255,255,255,.1) inset;
		}
		.widget-post-slider .post-slider-1 .slider-caption .slider-title {
			line-height: 1.4;
			margin: 0 0 15px 0;			
		}
		.widget-post-slider .post-slider-1 .slider-caption .slider-title a{
			color: #fff;
		}
		.widget-post-slider .post-slider-1 .slider-caption .slider-title a:hover {
			color: #ff564b;
		}
		.widget-post-slider .post-slider-1 .slider-caption .post-slider-meta {
			color: #fff;
			font-size: 11px;
			font-weight: normal;
			line-height: 30px;
			padding-top: 5px;
		}
		.widget-post-slider .post-slider-1 .slider-caption .post-slider-meta .postmeta-author {
			font-weight: bold;
		}
		.widget-post-slider .post-slider-1 .slider-caption .post-slider-meta .postmeta-author:hover {
			text-decoration: underline;
		}

		/* Post Slider - Style 2 */
		.widget-post-slider .post-slider-2 .slider-caption .slider-title {
			margin: 15px 0 5px 0;
		}
		.widget-post-slider .post-slider-2 .slider-caption .slider-title a {
			color: #444444;
		}
		.widget-post-slider .post-slider-2 .slider-caption .slider-title a:hover {
			color: #ff564b;
		}
		.widget-post-slider .post-slider-2 .slider-caption .slider-excerpt {
			color: #646464;
			margin: 10px 0;
		}


	/* 7.3 Widget Latest Post Vertical
	/* ==================================================== */
		.widget-latest-post-vertical {}
		.widget-latest-post-vertical .latest-post-vertical {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		.widget-latest-post-vertical .latest-post-vertical .post-title {	
			display: inline;	
			font-weight: bold;
			line-height: 1.4em;	
			margin-bottom: 5px;	
		}
		.widget-latest-post-vertical .latest-post-vertical li {
			border-bottom: 1px dotted #ddd;
			margin-bottom: 10px;
			padding-bottom: 10px;
		}
		.widget-latest-post-vertical .latest-post-vertical .post-time {		
			color: #9a9a9a;
			font-size: 10px;
			font-style: italic;
		}


	/* 7.4 Widget Post Latest
	/* ==================================================== */
		.widget-latest-post {
			margin-bottom: 20px;
		}
		.widget-latest-post .latest-post-item {
			margin-bottom: 30px;
		}
		.widget-latest-post .post-title {
			font-size: 13px;
			margin: 0;
		}
		.widget-latest-post .post-title a {
			color: #444444;
			display: block;
		}
		.widget-latest-post .post-title a:hover {
			color: #7a7a7a;
		}
		.widget-latest-post .post-excerpt {
			margin-top: 10px;
		}


	/* 7.6 Widget Single News Box List
	/* ==================================================== */
		.widget-single-newsbox-list {}
		.newsbox-list {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}	
		.newsbox-list .newsbox-item {
			border-bottom: 1px dotted #ddd;
			margin-bottom: 10px;
			overflow: auto;
			padding-bottom: 10px;
		}
		.newsbox-list .newsbox-item .post-title {
			line-height: 1.618em;
			margin-bottom: 3px;
		}
		.newsbox-list .newsbox-item .post-thumbnail {
			float: left;
			margin-right: 10px;
		}
		.newsbox-list .newsbox-item .post-thumbnail img {
			border: 1px solid #ddd;
			height: 70px;
			padding: 3px;
			width: 70px;

			-webkit-transition: .3s ease;
			   -moz-transition: .3s ease;
				 -o-transition: .3s ease;
					transition: .3s ease;
		}
		.newsbox-list .newsbox-item:hover img {
			border-color: #aaa;
		}


	/* 7.6 Widget Double News Box List
	/* ==================================================== */
		.widget-double-newsbox-list {}		

	
	/* 7.7 Widget Quadruple News Box List
	/* ==================================================== */
		.widget-quadruple-newsbox-list {}		


	/* 7.8 Widget Ads
	/* ==================================================== */

		/* 468x60 Ads */
		.widget-ads-468x60 .ads-block {
			text-align: center;
		}

		/* 728x90 Ads */
		.widget-ads-728x90 .ads-block {
			text-align: center;
		}

		/* 300x250 Ads */
		.widget-ads-300x250 .ads-block {
			text-align: center;
		}

		/* 125x125 Ads */
		.widget-ads-125x125 .ads-block {
			text-align: center;
		}
		.widget-ads-125x125 a {
			display: inline-block;
			margin: 0 10px 10px 0;
		}


	
	/* 7.9 Widget News Picture
	/* ==================================================== */
		.widget-news-picture {}
		.widget-news-picture ul {
			list-style-type: none;
			margin: 0;			
			overflow: auto;
			padding: 0;
		}
		.widget-news-picture a {
			display: block;
			float: left;
		}
		.widget-news-picture img {
			display: block;
			float: left;			
			border: 1px solid #ddd;
			height: 70px;
			margin: 0 5px 5px 0;		
			padding: 3px;
			width: 70px;	

			-webkit-transition: .3s ease;
			   -moz-transition: .3s ease;
				 -o-transition: .3s ease;
					transition: .3s ease;
		}
		.widget-news-picture img:hover {
			border-color: #a2a2a2;
		}


	/* 7.10 Widget Feedburner
	/* ==================================================== */
		.widget-feedburner {}
		.widget-feedburner .feedburner-intro-text {
			margin-bottom: 10px;
		}
		.widget-feedburner .icon-rss {
			background: #f1f1f1;
			color: #f2861d;			
			font-size: 48px;			
			height: 60px;
			line-height: 60px;
			margin-right: 10px;
			text-align: center;
			width: 60px;

			-webkit-border-radius: 30px;
			-moz-border-radius: 30px;
			border-radius: 30px;
		}
		.widget-feedburner .intro-text {
			margin: 0;			
		}
		.widget-feedburner .feedburner-email,
		.widget-feedburner .feedburner-submit {
			border: none;
			height: 30px;
			line-height: 30px;			
		}
		.widget-feedburner .feedburner-email {
			border: 1px solid #ddd;
			padding: 0 5px;
			float: left;
			margin-right: 5px;
			min-width: 200px;

			-webkit-transition: .3s ease;
			   -moz-transition: .3s ease;
					transition: .3s ease;
		}
		.widget-feedburner .feedburner-email:focus {
			border-color: #a2a2a2;
		}
		.widget-feedburner .feedburner-submit {			
			border: 1px solid #0d0d0d;
			background: #21252a;
			color: #fff;
			line-height: normal;
			text-transform: uppercase;
			min-width: 50px;

			-webkit-box-shadow: 0 1px 2px rgba(255,255,255,.2) inset, 0 -1px 2px rgba(255,255,255,.2) inset;
			   -moz-box-shadow: 0 1px 2px rgba(255,255,255,.2) inset, 0 -1px 2px rgba(255,255,255,.2) inset;
					box-shadow: 0 1px 2px rgba(255,255,255,.2) inset, 0 -1px 2px rgba(255,255,255,.2) inset;
		}



	/* 7.11 Widget FB Likebox
	/* ==================================================== */
		.widget-fb-likebox {
			margin-bottom: 20px;
		}
		.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
			width: 100% !important;
		}


	/* 7.12 Widget Newsbox Carousel
	/* ==================================================== */
		.widget-newsbox-carousel {}
		.widget-newsbox-carousel .newsbox-carousel ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		.widget-newsbox-carousel .newsbox-carousel li {
			float: left;
		}
		.widget-newsbox-carousel .newsbox-carousel-navigation a {
			background: #e2e2e2;
			border: 1px solid #b2b2b2;
			color: #a2a2a2;
			display: block;
			float: left;
			height: 25px;
			line-height: 22px;
			margin: 7px 2px;
			text-align: center;
			width: 25px;

			box-shadow: 0 1px 3px #fff inset, 0 -1px 3px #fff inset;
		}
		.widget-newsbox-carousel .newsbox-carousel-navigation a:hover {
			border-color: #9a9a9a;
			color: #9a9a9a;
		}
		.widget-newsbox-carousel .newsbox-carousel-navigation a.disabled {
			background: #f1f1f1;
			border-color: #d2d2d2;
			color: #d2d2d2;			
			cursor: default;
		}
		.widget-newsbox-carousel .newsbox-carousel-title {
			color: #444444;
			display: block;
			font-weight: bold;			
		}
		.widget-newsbox-carousel .newsbox-carousel-title:hover {
			color: #ff564b;
		}
		.widget-newsbox-carousel .post-excerpt {
			margin-top: 10px;
		}
		.widget-newsbox-carousel .newsbox-carousel-inner {
			overflow: hidden;
		}

	
	/* 7.13 Widget Newsbox
	/* ==================================================== */
		.widget-newsbox{}
		.widget-newsbox .newsbox-post-item .post-title {
			font-size: 13px;
			margin: 0;
			padding: 0;
		}
		.widget-newsbox .newsbox-post-item .post-title a{
			color: #444444;
		}
		.widget-newsbox .newsbox-post-item .post-title a:hover {
			color: #ff564b;
		}
		.widget-newsbox .newsbox-post-item .post-excerpt {
			margin-top: 10px;
		}

		/* Layout 1 */
		.widget-newsbox .newsbox-layout-1 {}		

		/* Layout 2 */
		.widget-newsbox .newsbox-layout-2 {}
		.widget-newsbox .newsbox-layout-2 .newsbox-post-item {
			border-bottom: 1px dotted #ddd;
			margin-bottom: 15px;
			padding-bottom: 15px;			
		}
		.widget-newsbox .newsbox-layout-2 .newsbox-post-item .post-thumbnail {
			margin-bottom: 10px;
		}


	/* 7.14 Widget Links
	/* ==================================================== */
		.widget-links {}
		.widget-links ul {
			list-style-image: url(../images/list.png);
			list-style-position: inside;
			margin: 0;
			padding: 0;
		}
		.widget-links li {
			border-bottom: 1px dotted #ddd;
			padding: 5px 0;			
		}
		.widget-links li a {
			color: #444444;
		}
		.widget-links li a:hover {
			color: #ff564b;
		}


	/* 7.15 Widget Twitter
	/* ==================================================== */
		.widget-twitter {}
		.widget-twitter ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		.widget-twitter li {
			border-bottom: 1px dotted #ddd;
			padding: 5px 0;
		}

	
	/* 7.16 Widget Flickr
	/* ==================================================== */
		.widget-flickr {
			overflow: auto;
		}
		.widget-flickr img {			
			border: 1px solid #ddd;
			float: left;
			height: 55px;
			margin: 0 5px 5px 0;			
			padding: 3px;
			width: 55px;

			-webkit-transition: .3s ease;
			   -moz-transition: .3s ease;
					transition: .3s ease;
		}		
		.footer-widget-area .widget-flickr img {
			border-color: #333;
		}
		.widget-flickr img:hover,
		.footer-widget-area .widget-flickr img:hover {
			border-color: #ff564b;
		}


	/* 7.17 Widget Social Links
	/* ==================================================== */
		.widget-social-links {}
		.widget-social-links .social-profiles {
			list-style-type: none;
			margin: 0;
			padding: 5px 0 0 0;
			overflow: auto;
		}
		.widget-social-links .social-profiles a {
			color: #fff !important;
			display: block;
			font-size: 16px;
			float: left;
			height: 30px;
			line-height: 30px;
			margin: 0 5px 5px 0;
			position: relative;
			text-align: center;
			width: 30px;

			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}
		.widget-social-links .social-profiles a:hover {
			color: #fff !important;
			top: -2px;
		}
		.widget-social-links .social-profiles .icon-facebook {
			background: #3B5998;
		}
		.widget-social-links .social-profiles .icon-twitter {
			background: #2DAAE1;
		}
		.widget-social-links .social-profiles .icon-gplus {
			background: #F63E28;
		}
		.widget-social-links .social-profiles .icon-pinterest {
			background: #CB2027;
		}
		.widget-social-links .social-profiles .icon-flickr {
			background: #FF0084;
		}
		.widget-social-links .social-profiles .icon-vimeo {
			background: #44B0DE;
		}
		.widget-social-links .social-profiles .icon-dribbble {
			background: #EA4C88;
		}
		.widget-social-links .social-profiles .icon-tumblr {
			background: #2A445E;
		}
		.widget-social-links .social-profiles .icon-linkedin {
			background: #0073B2;
		}
		.widget-social-links .social-profiles .icon-github {
			background: #4183C4;
		}
		.widget-social-links .social-profiles .icon-lastfm {
			background: #D8001A;
		}
		.widget-social-links .social-profiles .icon-stumbleupon {
			background: #EB4924;
		}
		.widget-social-links .social-profiles .icon-spotify {
			background: #7FB718;
		}
		.widget-social-links .social-profiles .icon-instagram {
			background: #517FA4;
		}
		.widget-social-links .social-profiles .icon-skype {
			background: #00AFF0;
		}
		.widget-social-links .social-profiles .icon-picasa {
			background: #8B689F;
		}
		.widget-social-links .social-profiles .icon-behance {
			background: #2F9DCE;
		}
		.widget-social-links .social-profiles .icon-soundcloud {
			background: #F75E0E;
		}


	
	/* 7.18 Widget Social Counter
	/* ==================================================== */
		.widget-social-counter {
			margin-bottom: 25px;
		}
		.widget-social-counter .social-counter {
			list-style-type: none;
			margin: 0;
			overflow: auto;
			padding: 0;			
		}
		.widget-social-counter .social-counter li {
			display: inline-block;
		}
		.widget-social-counter .social-counter .social-counter-item {
			display: block;
			float: left;
			margin: 0 15px 15px 0;
			text-align: center;
			width: 80px;
		}
		.widget-social-counter .social-counter .social-counter-item .icon {
			background: #444444;
			color: #fff;
			display: block;
			font-size: 32px;
			height: 80px;
			line-height: 80px;			
			margin-bottom: 5px;
			position: relative;

			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;

			-webkit-transition: .3s ease;
			   -moz-transition: .3s ease;
					transition: .3s ease;
			
			-webkit-box-shadow: 0 1px 3px rgba(255,255,255,.3) inset, 0 -1px 3px rgba(255,255,255,.3) inset;

		}
		.widget-social-counter .social-counter .social-counter-item .counter {			
			color: #7a7a7a;
			display: block;
			line-height: normal;
			padding: 5px 0;

			-webkit-transition: .3s ease;
			   -moz-transition: .3s ease;
					transition: .3s ease;
		}
		.widget-social-counter .social-counter .social-counter-item:hover {
			border-color: #ff564b;
		}
		.widget-social-counter .social-counter .social-counter-item:hover .icon{
			background: #444444;
			border-color: #444444;
		}
		.widget-social-counter .social-counter .social-counter-item .icon-facebook {
			background: #3B5998;
			border: 1px solid #3B5998;
		}
		.widget-social-counter .social-counter .social-counter-item .icon-twitter {
			background: #2DAAE1;
			border: 1px solid #2DAAE1;
		}
		.widget-social-counter .social-counter .social-counter-item .icon-gplus {
			background: #F63E28;
			border: 1px solid #F63E28;
		}
		.widget-social-counter .social-counter .social-counter-item .counter-number {
			color: #444444;
			display: block;
			font-weight: bold;			
		}



	/* 7.19 Widget Blog
	/* ==================================================== */
		.widget-blog {}

		/* Grid Layout */
		.widget-blog .blog-grid .blog-post-item {
			margin-bottom: 30px;			
		}
		.widget-blog .blog-grid .blog-post-item .post-title {
			display: block;
			font-size: 16px;			
		}
		.widget-blog .blog-grid .blog-post-item .post-title a {
			color: #444444;
			display: block;
		}
		.widget-blog .blog-grid .blog-post-item .post-title a:hover {
			color: #ff564b;
		}

		/* List Layout */
		.widget-blog .blog-list .blog-post-item {
			margin-bottom: 30px;
		}
		.widget-blog .blog-list .post-thumbnail {
			float: left;
			margin-right: 15px;
		}
		.widget-blog .blog-list .post-thumbnail img {
			width: 250px;
			height: auto;
		}
		.widget-blog .blog-list .post-title {
			font-size: 16px;
			margin: 5px 0 10px 0;
		}
		.widget-blog .blog-list .post-title a {
			color: #444444;
		}
		.widget-blog .blog-list .post-title a:hover {
			color: #ff564b;
		}


		/* Conventional Layout */
		.widget-blog .blog-conventional .blog-post-item {
			margin-bottom: 50px;
		}
		.widget-blog .blog-conventional .post-thumbnail {
			margin-bottom: 20px;
		}
		.widget-blog .blog-conventional .post-thumbnail img {
			width: 100%;
			height: auto;
		}
		.widget-blog .blog-conventional .post-title {
			margin: 10px 0;
			font-size: 24px;
		}
		.widget-blog .blog-conventional .post-title a {
			color: #444444;
		}
		.widget-blog .blog-conventional .post-title a:hover {
			color: #ff564b;
		}

		/* Pagination */
		.blog-pagination {
			border-top: 1px solid #e2e2e2;
			margin: 10px 0 10px 0;
			padding: 20px 0;
			text-align: right;
		}
		.blog-pagination a,
		.blog-pagination .current {
			background: #eee;
			display: inline-block;
			margin: 0 3px 5px 0;
			padding: 5px 10px;

			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;

			-webkit-box-shadow: 0 0px 2px rgba(0,0,0,.1) inset, 0 0 2px #fff;
			   -moz-box-shadow: 0 0px 2px rgba(0,0,0,.1) inset, 0 0 2px #fff;
					box-shadow: 0 0px 2px rgba(0,0,0,.1) inset, 0 0 2px #fff;			
		}
		.blog-pagination .current{
			background: #e2e2e2;
			color: #444444;
		}
		.blog-pagination a:hover {
			background: #eaeaea;
			color: #7a7a7a;
		}


	/* 7.x Default WordPress Widgets
	/* ==================================================== */
		.widget_categories ul,
		.widget_archive ul,
		.widget_recent_comments ul, 
		.widget_recent_entries ul, 
		.widget_pages ul,
		.widget_meta ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.widget_categories ul,
		.widget_archive ul,
		.widget_pages ul,
		.widget_meta ul {
			list-style-image: url(../images/list.png);
			list-style-position: inside;
		}
		.widget_categories ul li,
		.widget_archive ul li,
		.widget_recent_comments ul li, 
		.widget_recent_entries ul li,
		.widget_pages ul li,
		.widget_meta ul li {
			padding: 5px 0;
			border-bottom: 1px dotted #ddd;
		}
		.widget_categories ul li a,
		.widget_archive ul li a,
		.widget_recent_comments ul li a, 
		.widget_recent_entries ul li a,
		.widget_pages ul li a,
		.widget_meta ul li a {
			color: #444444;
		}
		.widget_categories ul li a:hover,
		.widget_archive ul li a:hover,
		.widget_recent_comments ul li a:hover, 
		.widget_recent_entries ul li a:hover,
		.widget_pages ul li a:hover,
		.widget_meta ul li a:hover {
			color: #ff564b;
		}
		.widget_categories ul,
		.widget_archive ul{
			font-style: italic;
			color: #9a9a9a;
		}
		.widget_categories ul li a,
		.widget_archive ul li a {
			font-style: normal;
			padding-right: 3px;
		}
		.widget_recent_comments ul li .url {
			color: #ff564b;
			font-style: normal;
		}
		.widget_recent_comments ul li .url:hover {
			text-decoration: underline;
		}
		.widget_recent_comments ul li a {
			font-style: italic;
			color: #7a7a7a;
			font-size: 12px;
		}
		.widget_recent_entries a {
			display: block;
			font-weight: bold;			
		}
		.widget_recent_entries .post-date {
			color: #9a9a9a;
			font-size: 10px;
			font-style: italic;
		}



/* 8. General Styles
/* ==================================================== */	

	/* 8.1 Post Style
	/* ==================================================== */	
		/* Post Title */
		.post-title {
			display: block;
			font-weight: bold;
		}
		.post-title {
			color: #444444;
		}
		.post-title:hover {
			color: #ff564b;
		}

		/* Post Excerpt */
		.post-excerpt {
			color: #6a6a6a;
		}
		
		/* Post Thumbnail */
		.post-thumbnail {
			overflow: hidden;
			position: relative;
		}
		.post-thumbnail img {
			width: 100%;
			height: auto;
		}
		.post-thumbnail .post-thumb-meta {
			background: transparent url(../images/transparent-black.png);
			bottom: -35px;
			color: #fff;
			font-size: 11px;		
			height: 35px;
			line-height: 35px;
			padding: 0 5px;
			position: absolute;
			width: 100%;		
		}
		.post-thumbnail .post-thumb-meta .postmeta-view,
		.post-thumbnail .post-thumb-meta .postmeta-comment,
		.widget-post-slider .post-slider-1 .slider-caption .postmeta-view,
		.widget-post-slider .post-slider-1 .slider-caption .postmeta-comment {
			background: #e32d21;		
			display: inline-block;
			float: left;
			height: 25px;
			line-height: 25px;	
			margin: 5px;
			padding: 0 5px;	

			-webkit-border-radius: 2px;
			   -moz-border-radius: 2px;
				 -o-border-radius: 2px;
					border-radius: 2px;	
		}
		.post-thumbnail .post-thumb-meta .postmeta-view .icon-eye,
		.post-thumbnail .post-thumb-meta .postmeta-comment .icon-chat,
		.widget-post-slider .post-slider-1 .slider-caption .postmeta-view .icon-eye,
		.widget-post-slider .post-slider-1 .slider-caption .postmeta-comment .icon-chat {		
			color: #000;
			font-size: 14px;
			position: relative;
			top: 1px;
		}
		.post-thumbnail .post-thumb-meta .postmeta-comment,
		.widget-post-slider .post-slider-1 .slider-caption .postmeta-comment {
			background: #63b008;
			color: #fff;
			margin: 5px 0;
		}

		/* Post Meta */
		.postmeta {
			color: #9a9a9a;
			font-size: 11px;
		}
		.postmeta a {
			font-size: 12px;
			font-weight: bold;
		}
		.postmeta a:hover {
			text-decoration: underline;
		}


	/* 8.2 Tag Cloud
	/* ==================================================== */
		.tagcloud {
			overflow: auto;
		}
		.tagcloud a {
			background: #ff564b;
			color: #fff;
			display: block;
			margin: 0 1px 1px 0;	
			padding: 3px 8px;
			font-size: 12px !important;
			float: left;			

			-webkit-border-radius: 1px;
			-moz-border-radius: 1px;
			border-radius: 1px;
		}
		.tagcloud a:hover {
			background: #444444;	
		}
		.footer-widget-area .tagcloud a,
		.footer-widget-area .tagcloud a:hover {
			color: #fff !important;
		}


	/* 8.3 Recent Comment List
	/* ==================================================== */
		.recent-comment-list {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.recent-comment-list li {
			border-bottom: 1px solid #ddd;
			margin-bottom: 10px;
			overflow: auto;
			padding-bottom: 10px;	
		}
		.recent-comment-list .avatar {
			border: 1px solid #ddd;
			float: left;
			margin-right: 10px;
			padding: 3px;
		}
		.recent-comment-list .comment-name {
			display: inline-block;
			font-weight: bold;
		}
		.recent-comment-list a.comment-name:hover {
			text-decoration: underline;
		}
		.recent-comment-list .comment-time {
			color: #9a9a9a;
			font-size: 10px;
			font-style: italic;
		}
		.recent-comment-list .comment-message {
			color: #6a6a6a;
			font-size: 12px;
			line-height: 1.618;
		}


	/* 8.4 Breadcrumb
	/* ==================================================== */	
		.breadcrumb {
			background: #f2f2f2;
			color: #9a9a9a;
			border: 1px solid #d2d2d2;
			margin-bottom: 20px;
			padding: 8px 10px;

			-webkit-box-shadow: 0 1px 3px #fff inset, 0 -1px 2px #fff inset;
		       -moz-box-shadow: 0 1px 3px #fff inset, 0 -1px 2px #fff inset;
			     -o-box-shadow: 0 1px 3px #fff inset, 0 -1px 2px #fff inset;
					box-shadow: 0 1px 3px #fff inset, 0 -1px 2px #fff inset;
		}
		.breadcrumb a:hover {
			text-decoration: underline;
		}


/* 9. jQuery Plugins
/* ==================================================== */

	/* 9.1 Flexslider
	/* ==================================================== */
		.flex-container a:active,
		.flexslider a:active,
		.flex-container a:focus,
		.flexslider a:focus  {outline: none;}
		.slides,
		.flex-control-nav,
		.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

		/* FlexSlider Necessary Styles
		*********************************/ 
		.flexslider {margin: 0; padding: 0;}
		.flexslider .slides > li {display: none; } /* Hide the slides before the JS is loaded. Avoids image jumping */
		.flexslider .slides img {width: 100%; display: block;}
		.flex-pauseplay span {text-transform: capitalize;}

		/* Clearfix for the .slides element */
		.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
		html[xmlns] .slides {display: block;} 
		* html .slides {height: 1%;}

		/* No JavaScript Fallback */
		/* If you are not using another script, such as Modernizr, make sure you
		 * include js that eliminates this class on page load */
		.no-js .slides > li:first-child {display: block;}


		/* FlexSlider Default Theme
		*********************************/
		.flexslider {margin: 0 0 0px; background: #fff; border: 0; position: relative; zoom: 1;}
		.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
		.loading .flex-viewport {max-height: 300px;}
		.flexslider .slides {zoom: 1;}

		.carousel li {margin-right: 5px}


		/* Direction Nav */
		.flex-direction-nav {*height: 0;}
		.flex-direction-nav a {width: 20px; height: 30px; margin: -15px 0 0; line-height: 30px; display: block; position: absolute; top: 50%; z-index: 10; cursor: pointer; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; opacity: .7; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)'; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70); background: #fff; color: #444444;}
		.flex-direction-nav .flex-next {right: 0; }
		.flex-direction-nav .flex-prev {left: 0;}
		.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';}
		.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

		/* Control Nav */
		.flex-control-nav {width: 100%; text-align: center; }
		.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
		.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
		.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
		.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

		.flex-control-thumbs {margin: 10px 0 0; position: static; overflow: hidden; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
		.flex-control-thumbs li {width: 20%; float: left; margin: 0; padding: 2px;}
		.flex-control-thumbs img {width: 100%; display: block; cursor: pointer; padding: 3px; border: 2px solid #0d0d0d; -webkit-transition: .1s ease; -moz-transition: .1s ease; transition: .1s ease; opacity: .5; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50); -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';}
		.flex-control-thumbs img:hover {opacity: 1; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)'; border-color: #414243;}
		.flex-control-thumbs .flex-active {opacity: 1; cursor: default; border-color: #414243;}

		@media screen and (max-width: 860px) {
		  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
		  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
		}

	/* 9.2 jQuery Tipsy
	/* ==================================================== */
		.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
		.tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

		/* Rounded corners */
		.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  
		/* Uncomment for shadow */
		/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
		.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
		/* Rules to colour arrows */
		.tipsy-arrow-n { border-bottom-color: #000; }
		.tipsy-arrow-s { border-top-color: #000; }
		.tipsy-arrow-e { border-left-color: #000; }
		.tipsy-arrow-w { border-right-color: #000; }

		.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
		.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
		.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
		.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
		.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
		.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
		.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
		.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }


/* 10. Shortcodes
/* ==================================================== */

	/* 10.1 Tabs
	/* ==================================================== */
		.tabs {}
		.tabs .tab-header {
			background: url(../patterns/textured_paper.png);
			border: 1px solid #c2c2c2;
			font-family: "Oswald", Sans-serif;
			height: 40px;
			list-style: none;
			margin: 0;
			padding: 0;
			position: relative;
			z-index: 2;

			-webkit-box-shadow: 0 1px 3px #fff inset, 0 -1px 2px #d2d2d2 inset;
		   	   -moz-box-shadow: 0 1px 3px #fff inset, 0 -1px 2px #d2d2d2 inset;
			 	 -o-box-shadow: 0 1px 3px #fff inset, 0 -1px 2px #d2d2d2 inset;
					box-shadow: 0 1px 3px #fff inset, 0 -1px 2px #d2d2d2 inset;
		}
		.tabs .tab-header li {
			display: block;
			float: left;
			height: 40px;
			position: relative;
		}
		.tabs .tab-header li a {
			color: #7a7a7a;
			display: block;
			font-size: 14px;
			font-weight: bold;
			line-height: 37px;
			height: 40px;
			padding: 0 15px;
			text-transform: uppercase;
			text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
			position: relative;		
		}
		.tabs .tab-header li a:hover {
			text-decoration: none !important;
		}
		.tabs .tab-header .ui-tabs-active {
			background: url(../images/active-tab.png) no-repeat center bottom;	
			top: -1px;		
		}
		.tabs .tab-header .ui-tabs-active a {			
			color: #444444;			
		}
		.tabs .tab-contents {
			border: 1px solid #c2c2c2;
			border-top: none;
			padding: 20px 15px;
			position: relative;
			top: -1px;
			z-index: 1;
		}
	
	
	/* 10.2 Intro Paragraph
	/* ==================================================== */
		.intro-paragraph {
			color: #21252a;
			font-size: 18px;
			line-height: 1.618;
		}

	
	/* 10.3 Blockquote
	/* ==================================================== */
		blockquote {			
			background: #f5f5f5;
			border-left: 3px solid #ff564b;
			color: #21252a;
			font-style: italic;
			padding: 15px;
		}
		blockquote small {

		}


	/* 10.4 Dropcap
	/* ==================================================== */
		.dropcap {
			display: block;
			font-size: 48px;
			font-weight: bold;
			float: left;
			line-height: normal;
			padding: 0px 5px;
		}

	
	/* 10.5 HR/Line
	/* ==================================================== */
		hr {
			height: 0;
			border: none;
			border-bottom: 1px solid #ddd;
			display: block;
			margin: 15px 0;
		}


	/* 10.6 Alert
	/* ==================================================== */
		.alert {
			background-color: #fcf8e3;
			border: 1px solid #fbeed5;
			color: #c09853;
			padding: 10px;
			margin: 20px 0;
			position: relative;
		}
		.alert .alert-title {
			margin: 0 0 5px 0;
		}
		.alert-error {
			color: #b94a48;
			background-color: #f2dede;
			border-color: #eed3d7;
		}
		.alert-success {
			color: #468847;
			background-color: #dff0d8;
			border-color: #d6e9c6;
		}
		.alert-info {
			color: #3a87ad;
			background-color: #d9edf7;
			border-color: #bce8f1;
		}
		.alert .alert-control {
			cursor: pointer;
			position: absolute;			
			right: 10px;
			top: 0px;
		}


	/* 10.7 Button
	/* ==================================================== */
		.button {
			border: 1px solid #e2e2e2;
			color: #8a8a8a;
			display: inline-block;
			margin: 7px 2px;
			padding: 5px 15px;
			line-height: normal;

			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f2f7), to(#eaedee));
			background-image: -webkit-linear-gradient(#f1f2f7, #eaedee);
			background-image: -moz-linear-gradient(#f1f2f7, #eaedee);
			background-image: -o-linear-gradient(#f1f2f7, #eaedee);
			background-image: linear-gradient(#f1f2f7, #eaedee);

			-webkit-box-shadow: 0 1px 3px rgba(255,255,255,.2) inset, 0 -3px 3px rgba(255,255,255,.1) inset;

			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
		}
		.button:hover {
			text-decoration: none !important;
			border-color: #d2d2d2;
			background: #eaedee;
			color: #6a6a6a;
		}
		.button-big {
			font-size: 24px;
			padding: 12px 25px;
		}
		.button-small {
			font-size: 10px;
			padding: 5px 10px;
		}
		.button-red {
			color: #fff;
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c45757), to(#af3838));
			background-image: -webkit-linear-gradient(#c45757, #af3838);
			background-image: -moz-linear-gradient(#c45757, #af3838);
			background-image: -o-linear-gradient(#c45757, #af3838);
			background-image: linear-gradient(#c45757, #af3838);
			border-color: #ab3636;
		}
		.button-red:hover {
			border-color: #9c3030;
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b85050), to(#9e3333));
			background-image: -webkit-linear-gradient(#b85050, #9e3333);
			background-image: -moz-linear-gradient(#b85050, #9e3333);
			background-image: -o-linear-gradient(#b85050, #9e3333);
			background-image: linear-gradient(#b85050, #9e3333);
			color: #fff;
		}
		.button-green {
			color: #fff;
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#92c55a), to(#7ead4b));
			background-image: -webkit-linear-gradient(#92c55a, #7ead4b);
			background-image: -moz-linear-gradient(#92c55a, #7ead4b);
			background-image: -o-linear-gradient(#92c55a, #7ead4b);
			background-image: linear-gradient(#92c55a, #7ead4b);
			border-color: #719c43;
		}
		.button-green:hover {
			border-color: #5f8437;
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#86b553), to(#719b43));
			background-image: -webkit-linear-gradient(#86b553, #719b43);
			background-image: -moz-linear-gradient(#86b553, #719b43);
			background-image: -o-linear-gradient(#86b553, #719b43);
			background-image: linear-gradient(#86b553, #719b43);
			color: #fff;
		}
		.button-yellow {
			color: #fff;
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffbc3b), to(#eaad37));
			background-image: -webkit-linear-gradient(#ffbc3b, #eaad37);
			background-image: -moz-linear-gradient(#ffbc3b, #eaad37);
			background-image: -o-linear-gradient(#ffbc3b, #eaad37);
			background-image: linear-gradient(#ffbc3b, #eaad37);
			border-color: #dba132;
		}
		.button-yellow:hover {
			border-color: #c5912b;
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0b138), to(#dba132));
			background-image: -webkit-linear-gradient(#f0b138, #dba132);
			background-image: -moz-linear-gradient(#f0b138, #dba132);
			background-image: -o-linear-gradient(#f0b138, #dba132);
			background-image: linear-gradient(#f0b138, #dba132);
			color: #fff;
		}
		.button-orange {
			color: #fff;
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff8853), to(#ff763a));
			background-image: -webkit-linear-gradient(#ff8853, #ff763a);
			background-image: -moz-linear-gradient(#ff8853, #ff763a);
			background-image: -o-linear-gradient(#ff8853, #ff763a);
			background-image: linear-gradient(#ff8853, #ff763a);
			border-color: #ff6521;
		}
		.button-orange:hover {
			border-color: #f45c19;
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff763a), to(#ff6521));
			background-image: -webkit-linear-gradient(#ff763a, #ff6521);
			background-image: -moz-linear-gradient(#ff763a, #ff6521);
			background-image: -o-linear-gradient(#ff763a, #ff6521);
			background-image: linear-gradient(#ff763a, #ff6521);
			color: #fff;
		}
		.button-blue {
			color: #fff;
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4bb0f7), to(#30a5f6));
			background-image: -webkit-linear-gradient(#4bb0f7, #30a5f6);
			background-image: -moz-linear-gradient(#4bb0f7, #30a5f6);
			background-image: -o-linear-gradient(#4bb0f7, #30a5f6);
			background-image: linear-gradient(#4bb0f7, #30a5f6);
			border-color: #209ef7;
		}
		.button-blue:hover {
			border-color: #1399f6;
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3caaf7), to(#209ef7));
			background-image: -webkit-linear-gradient(#3caaf7, #209ef7);
			background-image: -moz-linear-gradient(#3caaf7, #209ef7);
			background-image: -o-linear-gradient(#3caaf7, #209ef7);
			background-image: linear-gradient(#3caaf7, #209ef7);
			color: #fff;
		}
		.button-black {
			color: #fff;
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2f2f2f), to(#1b1b1b));
			background-image: -webkit-linear-gradient(#2f2f2f, #1b1b1b);
			background-image: -moz-linear-gradient(#2f2f2f, #1b1b1b);
			background-image: -o-linear-gradient(#2f2f2f, #1b1b1b);
			background-image: linear-gradient(#2f2f2f, #1b1b1b);
			border-color: #111111;
		}
		.button-black:hover {
			border-color: #000000;
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#171717), to(#111111));
			background-image: -webkit-linear-gradient(#171717, #111111);
			background-image: -moz-linear-gradient(#171717, #111111);
			background-image: -o-linear-gradient(#171717, #111111);
			background-image: linear-gradient(#171717, #111111);
			color: #fff;
		}


	/* 10.8 Table
	/* ==================================================== */
		table {
			border-collapse: collapse;
			font-size: 13px;
			width: 100%;			
		}
		table th {
			border: 1px solid #e2e2e2;
			border-bottom: 3px solid #ff564b;
			padding: 12px 10px;
			text-align: center;			
		}
		table td {
			border-left: 1px solid #e2e2e2;
			border-right: 1px solid #e2e2e2;
			border-bottom: 1px solid #e2e2e2;
			padding: 8px 10px;
		}


	/* 10.9 List
	/* ==================================================== */		
		/* List Check */
		.list-check,
		.list-star,
		.list-cross,
		.list-love {			
			padding-left: 1em;
		}
		.list-check li,
		.list-star li,
		.list-cross li,
		.list-love li {
			list-style-type: none;
		}
		.list-check li:before {
			content: '\2713';
			margin-right: 8px;
			color: #91ca4e;
		}
		.list-star li:before {
			content: '\2605';
			margin-right: 8px;
			color: #ffa800;
		}
		.list-cross li:before {
			content: '\2716';
			margin-right: 8px;
			color: #e14040;
		}
		.list-love li:before {
			content: '\2665';
			margin-right: 8px;
			color: #fc5933;
		}
		

	/* 10.10 Accordion
	/* ==================================================== */	
		.accordion {
			margin: 30px 0;
		}
		.accordion .accordion-heading {
			border: 1px solid #ddd;
			background: #eee;
			cursor: pointer;
			color: #6a6a6a;
			font-size: 13px;
			font-weight: bold;
			margin: 0 0 1px 0;		
			padding: 7px 10px;	

			-webkit-box-shadow: 0 1px 3px #fff inset, 0 -1px 3px #fff inset;
		}
		.accordion .ui-state-active {
			color: #444444;
		}
		.accordion .accordion-content {
			border: 1px solid #ddd;
			position: relative;
			padding: 10px;	
			margin: 0 0 1px 0;	
		}
	
	/* 10.11 Google maps
	/* ==================================================== */	
		#bright-map{
			width: 100%;
			height: 300px;
		}
		#map-container{
			margin-bottom: 20px;
			padding-bottom: 20px;
		}
	
	/* 10.12 Column
	/* ==================================================== */	
		.bt-grid .row{
			margin-bottom: 30px !important;
		}
	

/* 11. Footer
/* ==================================================== */	
	.site-footer {
	}
	
	/* Scroll to top */
	.back-to-top {
		background: #0d0d0d;
		color: #a2a2a2;
		display: block;
		height: 25px;
		line-height: 25px;
		text-align: center;
		width: 25px;

		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

	/* 11.1 Footer Widget Area
	/* ==================================================== */
		.footer-widget-area {
			background: #21252a;
			color: #a2a2a2;
			padding: 30px 0;
		}
		.footer-widget-area li {
			border-color: #2f2f2f !important;
			list-style-type: none;
		}
		.footer-widget-area a {
			color: #d2d2d2 !important;
		}
		.footer-widget-area a:hover {
			color: #ff564b !important;
		}

		/* Widget Title */
		.footer-widget-area .widget-title {	
			background: transparent;		
			border: none;
			margin-bottom: 5px;
			padding-left: 0;
			padding-right: 0;

			-webkit-box-shadow: none;
			   -moz-box-shadow: none;
				 -o-box-shadow: none;
					box-shadow: none;
		}
		.footer-widget-area .widget-title h3 {
			color: #d2d2d2;
			text-shadow: 0 2px 0 #0d0d0d;
		}


	/* 11.2 Footer Copyright
	/* ==================================================== */
		.footer-copyright {
			background: #21252a;
			color: #9a9a9a;
			font-size: 11px;
			padding: 10px 0;

			border-top: 1px solid #2F3337;
			-webkit-box-shadow: 0 -1px 0 #0d0d0d;
			   -moz-box-shadow: 0 -1px 0 #0d0d0d;
					box-shadow: 0 -1px 0 #0d0d0d;

		}


/* 12. Archive
/* ==================================================== */
	.widget-archive {}
	.widget-archive .archive-title {
		border-bottom: 5px solid #444444;
		margin-bottom: 30px;
		padding-bottom: 10px;
	}
	.widget-archive .archive-title h3 {
		color: #9a9a9a;
		font-family: "Oswald", Serif;
		font-size: 24px;
		margin: 0 0 10px 0;
	}
	.widget-archive .archive-title h3 span {
		color: #444444;
		text-transform: none;
	}
	.widget-archive .archive-title .taxonomy-description {
		color: #7a7a7a;
		font-style: italic;
	}

	/* Author archive */
	.widget-archive .archive-title .avatar {		
		border: 5px solid #ff564b;
		margin-right: 20px;

		-webkit-border-radius: 45px;
		-moz-border-radius: 45px;
		border-radius: 45px;
	}


/* 13. Post Single
/* ==================================================== */
	.post-single {}
	.post-single .single-post-title {
		font-size: 32px;
		line-height: 1.4em;
		margin: 0 0 10px 0;
	}
	.post-single .postmeta {
		margin-bottom: 20px;
	}
	.post-single .post-format {
		margin-bottom: 10px;
	}
	.post-single .post-body a:hover,
	.post-single .post-tags a:hover {
		text-decoration: underline;
	}
	.post-single .post-tags {
		color: #9a9a9a;
		margin-top: 20px;
	}
	.post-single .post-pages-navigation {
		font-size: 11px;
		padding: 5px 0;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		margin: 30px 0;
		color: #7a7a7a;
	}
	.post-single .tagcloud {
		margin: 30px 0 10px 0;
	}


	/* 13.1 Post Navigation
	/* ==================================================== */
		.post-navigation {
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			margin: 30px 0;
			overflow: auto;
		}
		.post-navigation a {			
			color: #444444;
			display: block;
			font-weight: bold;
		}		
		.post-navigation .previous-post,
		.post-navigation .next-post {
			float: left;
			padding: 20px 0;
			text-align: right;
			width: 50%;
		}
		.post-navigation .previous-post {
			text-align: left;
		}
		.post-navigation .nav-info {
			color: #9a9a9a;
			font-size: 11px;
			text-transform: uppercase;
		}


	/* 13.2 Author Info
	/* ==================================================== */
		.author-info {
			margin-bottom: 40px;	
		}
		.author-info h3 {
			color: #ff564b;
			font-family: "Oswald", Sans-serif;
			font-size: 18px;
			margin: 0 0 5px 0;
		}
		.author-info h3 span {
			color: #444444;
		}
		.author-info .author-status a:hover {
			text-decoration: underline;
		}
		.author-info .author-description {
			margin-top: 10px;
		}
		.author-info .avatar {
			border: 5px solid #ff564b;
			margin-right: 10px;
			-webkit-border-radius: 45px;
			-moz-border-radius: 45px;
			border-radius: 45px;
			float: left;
		}
	

	/* 13.3 Related Posts
	/* ==================================================== */
		.related-post {
			margin-bottom: 50px;
		}
		.related-post h3 {
			border-bottom: 2px solid #444444;
			font-family: "Oswald", Sans-serif;
			font-size: 14px;
			margin: 0 0 20px 0;
			padding: 0 0 10px 0;
			text-transform: uppercase;
		}


	/* 13.4 Comments Area
	/* ==================================================== */
		.comments-area{
			margin-bottom: 50px;
		}
		.comments-area .comments-heading {
			border-bottom: 2px solid #444444;
			font-family: "Oswald", Sans-serif;
			font-size: 14px;
			margin: 0 0 20px 0;
			padding: 0 0 10px 0;
			text-transform: uppercase;
		}
		.comments-area .comments-heading .title {
			color: #ff564b;
		}

		/* Comments List */
		.comments-list {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		.comments-list li ul {
			margin: 0 0 0 30px;
			list-style-type: none;
			padding: 0;
		}
		.comments-list .comment-post {
			margin-bottom: 20px;
		}
		.comments-list .comment-avatar {
			float: left;
		}
		.comments-list .comment-avatar img {
			border: 3px solid #fff;
			-webkit-border-radius: 35px;
			-moz-border-radius: 35px;
			border-radius: 35px;
		}
		.comments-list .comment-detail {
			background: #eee;
			position: relative;
			padding: 5px 15px;
			margin-left: 80px;

			-webkit-border-radius: 1px;
			-moz-border-radius: 1px;
			border-radius: 1px;
		}
		.comments-list .comment-detail .t-pad {
			border-bottom: 8px solid transparent;
			border-top: 8px solid transparent;
			border-right: 10px solid #eee;
			left: -10px;
			position: absolute;
			top: 10px;			
		}
		.comments-list .comment-detail .comment-author-name,
		.comments-list .comment-detail .comment-user {
			display: inline-block;
			font-weight: bold;
			line-height: normal;
			margin-bottom: 5px;
		}
		.comments-list .comment-detail a.comment-author-name:hover {
			text-decoration: underline;
		}
		.comments-list .comment-detail .comment-meta {			
			color: #9a9a9a;
			font-size: 11px;
			line-height: normal;
			margin-bottom: 5px;
		}
		.comments-list .comment-detail .comment-meta a:hover {
			text-decoration: underline;
		}

		/* Comment Form */
		#respond {
			background: #f2f2f2;
			margin-top: 50px;
			padding: 15px;

			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;

			-webkit-box-shadow: 0 0 5px #d2d2d2 inset, 0 0 3px #fff;
		}
		.comments-list #respond {
			margin-top: 30px;
			margin-bottom: 30px;
			margin-left: 80px;
		}
		#respond h3 {
			font-family: "Oswald", Sans-serif;
			font-size: 14px;
			margin: 0 0 10px 0;
			padding: 0;
			text-transform: uppercase;
		}
		#commentform label {
			color: #7a7a7a;
			display: block;
			font-weight: bold;			
		}
		#commentform input[type="text"],
		#commentform textarea {
			border: 1px solid #d2d2d2;
			padding: 5px;
		}
		#commentform textarea {
			width: 100%;
		}
		#commentform .form-allowed-tags {
			font-size: 11px;
		}
		#commentform #submit {
			background: #444444;
			border: 1px solid #444444;
			color: #fff;
			padding: 10px;

			-webkit-box-shadow: 0 1px 3px rgba(255,255,255,.3) inset, 0 -1px 3px rgba(255,255,255,.3) inset;
		       -moz-box-shadow: 0 1px 3px rgba(255,255,255,.3) inset, 0 -1px 3px rgba(255,255,255,.3) inset;
					box-shadow: 0 1px 3px rgba(255,255,255,.3) inset, 0 -1px 3px rgba(255,255,255,.3) inset;
		}


	/* 13.5 Review Area
	/* ==================================================== */
		.review-area {
			background: #f1f1f1;
			border: 1px solid #ddd;
			border-bottom: 2px solid #444444;
			min-height: 200px;
			padding: 20px;
			margin-bottom: 30px;

			-webkit-box-shadow: 0 1px 3px rgba(255,255,255,.3) inset, 0 -1px 3px rgba(255,255,255,.3) inset;
		       -moz-box-shadow: 0 1px 3px rgba(255,255,255,.3) inset, 0 -1px 3px rgba(255,255,255,.3) inset;
					box-shadow: 0 1px 3px rgba(255,255,255,.3) inset, 0 -1px 3px rgba(255,255,255,.3) inset;
		}
		.review-area.review-right,
		.review-area.review-left {
			width: 50%;
		}
		.review-area.review-right {
			float: right;
			margin: 20px 0 30px 30px;
		}
		.review-area.review-left {
			float: left;
			margin: 20px 30px 30px 0;
		}
		.review-area.review-center {
			overflow: auto;
		}
		.review-area.review-center .review-criteria {			
			float: left;
			margin-right: 15px;
			width: 50%;			
		}
		.review-area .review-heading {
			border-bottom: 2px solid #444444;
			font-family: "Oswald", Sans-serif;
			font-size: 14px;
			margin: 0 0 10px 0;
			padding: 0 0 5px 0;
			text-transform: uppercase;
		}
		.review-area .review-criteria ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		.review-area .review-criteria li {
			border-bottom: 1px dotted #ddd;
			padding-bottom: 10px;
			margin-bottom: 10px;
		}
		.review-area .review-criteria .criteria-item .criteria-name {
			font-weight: bold;
		}
		.review-area .review-criteria .criteria-item .review-star {
			margin-top: 5px;
		}
		.review-star {
			background: #444444 url(../images/transparent-star-single.png) no-repeat top left;
			height: 16px;
			position: relative;
			width: 95px;			
		}
		.review-star .star-active {			
			background: #ff564b url(../images/transparent-star-single.png) no-repeat top left;
			height: 16px;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
		.review-area .overall {			
			background: #ff564b;
			color: #fff;
			font-size: 32px;
			float: left;
			line-height: 60px;
			height: 60px;
			margin: 0 15px 0 0;
			text-align: center;
			width: 60px;

			-webkit-border-radius: 30px;
			-moz-border-radius: 30px;
			border-radius: 30px;
		}
		.review-area .overall-text {
			background: #ddd;
			display: inline-block;
			font-size: 18px;
			line-height: 40px;
			font-weight: bold;
			position: relative;
			margin-top: 10px;
			padding: 0 10px;
		}
		.review-area .overall-text .review-pad {
			bottom: 10px;
			border-right: 10px solid #ddd;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			left: -10px;
			position: absolute;			
		}
		.review-area .summary-description {
			display: block;
			margin-top: 20px;
			font-size: 12px;
			color: #6a6a6a;
			line-height: 1.618;
			font-style: italic;
		}


/* 14. Search
/* ==================================================== */
	.search-post {
		border-bottom: 1px dotted #ddd;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	.search-post:last-child {
		border-bottom: none;
	}
	.search-post .post-thumbnail img{		
		height: 80px;
		margin-right: 15px;
		width: 120px;
	}
	.search-post .post-title {
		font-size: 16px;
		margin-bottom: 5px;
	}


/* 15. 404
/* ==================================================== */
	.post-404 {
		text-align: center;
	}

/* 16. Responsive Video
/* ==================================================== */
	.video-wrap {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		margin-bottom: 20px;
	}

	.video-wrap iframe,  
	.video-wrap object,  
	.video-wrap embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

/* x. Helper Classes
/* ==================================================== */
	.cf:before, .cf:after { content: " "; display: table; }
	.cf:after {clear: both;}
	.cf { *zoom: 1; }
	.fl {
		float: left;
	}
	.fr {
		float: right;
	}
	.mb-5 {
		margin-bottom: 5px;
	}
	.mb-10 {
		margin-bottom: 10px;
	}
	.mb-20 {
		margin-bottom: 20px;
	}


/* x. WordPress Core
/* ==================================================== */
	.alignnone {
		margin: 5px 20px 20px 0;
	}
	.aligncenter,
	div.aligncenter {
		display: block;
		margin: 5px auto 5px auto;
	}
	.alignright {
		float:right;
		margin: 5px 0 20px 20px;
	}
	.alignleft {
		float: left;
		margin: 5px 20px 20px 0;
	}
	.aligncenter {
		display: block;
		margin: 5px auto 5px auto;
	}
	a img.alignright {
		float: right;
		margin: 5px 0 20px 20px;
	}
	a img.alignnone {
		margin: 5px 20px 20px 0;
	}
	a img.alignleft {
		float: left;
		margin: 5px 20px 20px 0;
	}
	a img.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto
	}
	.wp-caption {
		background: #fff;
		border: 1px solid #f0f0f0;
		max-width: 96%; /* Image does not overflow the content area */
		padding: 5px 3px 10px;
		text-align: center;
	}
	.wp-caption.alignnone {
		margin: 5px 20px 20px 0;
	}
	.wp-caption.alignleft {
		margin: 5px 20px 20px 0;
	}
	.wp-caption.alignright {
		margin: 5px 0 20px 20px;
	}
	.wp-caption img {
		border: 0 none;
		height: auto;
		margin: 0;
		max-width: 98.5%;
		padding: 0;
		width: auto;
	}
	.wp-caption p.wp-caption-text {
		font-size: 11px;
		line-height: 17px;
		margin: 0;
		padding: 0 4px 5px;
	}
	.sticky {}
	.gallery-caption {}
	.bypostauthor {}
	.gallery .gallery-item img {
		border: none !important;
		padding: 5px;
		background: #e2e2e2;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.site-header .main-header,	
	.site-header .top-bar,
	.site-top-content,
	.site-main,
	.site-bottom-content,
	.site-footer .footer-widget-area,
	.site-footer .footer-copyright{
		padding-left: 15px;
		padding-right: 15px;
	}
	.site-header .main-navigation,
	.site-header .bottom-nav {
		margin-right: 15px;
		margin-left: 15px;
	}