﻿/*//CSS Tạo Menu Cấp 1*/
#menu ul{
list-style: none;
font-family: Arial, san-serif;
font-size: 12px;
padding: 0;
}

#menu ul li{
float:left;
position:relative;
}

#menu ul a{
text-decoration:none;
color:#fff; 
display:block;
font-weight:bold;
padding:10px 37px;
background:#4cff00;
}

#menu ul a:hover{
background:#ff0000;
}

/*//CSS Tạo Menu Cấp 2*/
#menu li ul a{
background:#444;
}

#menu li ul{
position:absolute;
display:none;
width:200px;
}

#menu li:hover ul{
display:block;
}