﻿@model Web_Final.Models.PostType

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PostType</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.NameType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NameType)
            @Html.ValidationMessageFor(model => model.NameType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdminFlag)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdminFlag)
            @Html.ValidationMessageFor(model => model.AdminFlag)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RelationshipFlag)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RelationshipFlag)
            @Html.ValidationMessageFor(model => model.RelationshipFlag)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
