﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My Website</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/StyleSheetLan1.css" rel="stylesheet" />
        <link href="~/Content/home.css" rel="stylesheet" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <hgroup>
                    @*<div id="menu">
                        
                    </div>*@
                </hgroup>
               
                @*<input class="search-input input-common" value="Search ASP.NET" data-uitext="Search ASP.NET" data-uitype="autoreset" name="searchterm" type="text">
                <input name="submit" class="search-submit" value="" title="Search" type="submit">*@
                <br />
                <br />
                <marquee align="center" direction="right" height="20" scrollamount="10" width="80%" behavior="alternate">
                    <strong>Học Tiếng Anh mỗi ngày - Cuộc sống hạnh phúc hơn  !!!</strong> 
                </marquee>
             
                <div class="float-left">
                    <br/>
                    <img src="~/Content/themes/base/images/clock%20(1).png" />
                    @*<img src="~/Content/themes/base/images/clock.png" />*@
                    @*<img src="~/Content/themes/base/images/images.png" / ádsdff>*@
                    @*<img src="~/Content/themes/base/images/3.png" />*@
                   <i><u> Hôm nay, ngày @DateTime.Now.Day tháng @DateTime.Now.Month năm @DateTime.Now.Year lúc @DateTime.Now.ToLongTimeString()</u></i>
                </div>
                <div class="float-right">
                    @*<a href="http://www.google.com.vn">GOOGLE.COM.VN</a>*@                    
                    
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                        
                    </section>
                    
                   @*<img src="~/Images/2.png" alt="Sen Viet" width="950" height="150" />*@
                </div>
              
                   
                   
                   
                    @*<nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Posts", "Index", "Post")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>*@
                
            </div>
                
        </header>
        <div id="body">
            <section class="featured">
                <div class="content-wrapper">
                    <hgroup>
                        <div id="menu">
                            <ul>
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li><a href="#">Phương Pháp Callan</a>
                                    <ul>
                                        <li>@Html.ActionLink("Bài  viết", "Index", "Post")</li>

                                        @*<li>@Html.ActionLink("Callan 1", "Index", "Post")</li>
                                        <li>@Html.ActionLink("Callan 2", "Index", "Post")</li>
                                        <li>@Html.ActionLink("Callan 3", "Index", "Post")</li>
                                        <li>@Html.ActionLink("Callan 4", "Index", "Post")</li>*@

                                        <li>@Html.ActionLink("Callan 1", "Details/1", "PostType")</li>
                                        <li>@Html.ActionLink("Callan 2", "Details/2", "PostType")</li>
                                        <li>@Html.ActionLink("Callan 3", "Details/3", "PostType")</li>
                                        <li>@Html.ActionLink("Callan 4", "Details/4", "PostType")</li>
                                        
                                        @*<li><a href="#">GiớiThiệu</a></li>*@
                                        @*<li><a href="#">Callan 1 </a></li>
                                        <li><a href="#">Callan 2 </a></li>
                                        <li><a href="#">Callan 3 </a></li>
                                        <li><a href="#">Callan 4 </a></li>*@
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Ngữ Pháp", "Details/9", "PostType")</li>
                                @*<li><a href="#">Ngữ Pháp</a></li>*@

                                @*<li><a href="#">HọcTừVựng</a>*@
                                <li><a href="http://localhost:2758/PostType/Details/5">HọcTừVựng</a>
                                    <ul>
                                        @*<li>@Html.ActionLink("Học Nghe", "Index", "Post")</li>
                <li>@Html.ActionLink("Học Đọc", "Index", "Post")</li>
                <li>@Html.ActionLink("Học Viết", "Index", "Post")</li>*@

                                        <li>@Html.ActionLink("Học Nghe", "Details/6", "PostType")</li>
                                        <li>@Html.ActionLink("Học Đọc", "Details/7", "PostType")</li>
                                        <li>@Html.ActionLink("Học Viết", "Details/8", "PostType")</li>

                                        @*<li><a href="#">HọcNghe </a></li>
                <li><a href="#">Học  Đọc </a></li>
                <li><a href="#">Học  Viết</a></li>*@
                                    </ul>
                                </li>
                                <li><a href="#">Trò Chơi</a></li>
                                <li><a href="#">ThảoLuận</a></li>
                                @*<li><a href="#">Liên Hệ </a></li>*@
                                <li>@Html.ActionLink("Liên Hệ", "Index", "Contact1")</li>
                                </ul>
                            </div>
                        </hgroup>
                    </div>
                </section>







                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>

            </div>

            <footer>
                <div class="content-wrapper">
                    <div class="float-left">
                        <p>&copy; @DateTime.Now.Year - Tan Lap 2 Str, District 9, Ho Chi Minh City, Vietnam. Tel: 01652 20 50 70 </p>
                        <p>Copyright © 2014 Ho Chi Minh City University of Technical Education. All rights reserved</p>
                        <p>Designed by Phong Canh</p>
                    </div>

                </div>
            </footer>


            @RenderSection("scripts", required: false)
        </body>
    </html>
