﻿@model FinalProject.Models.Comment

<div class="display-field">
   <h2>Cach day: @Html.DisplayFor(model=>model.LastTime)</h2>
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Body)
</div>