﻿
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                @*<h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>*@
            </hgroup>
            
            
                
                

            
                <style>
                    /*img {
                    margin-left: 40px;
                    margin-right: 60px;
                    /*margin-right:240px;*/
                    /*margin-bottom:100px;*/
                    /*padding-top:100px;}*/

                    /*iframe{
                    margin-right:150px;
                }*/
            </style>
                <p>
                    <img src="~/Images/aa.png" alt="Tieng anh" width="650" height="250" />
                    @*<img src="~/Images/logo.png" alt="Tieng Anh" width="500" height="350" />*@
                        <iframe width="287" height="453" src="//www.youtube.com/embed/UUF1xlFmLjU" frameborder="1"></iframe>
                    @*<iframe width="285" height="120" src="//www.youtube.com/embed/UUF1xlFmLjU" frameborder="1"></iframe>*@

                    @*<div class="float-right">*@
                    @*<style>
                    iframe {
                        padding-top: 50px;
                    }
                </style>*@

                    @*<iframe width="200" height="150" src="//www.youtube.com/embed/UUF1xlFmLjU" frameborder="1"></iframe>*@
                    @*</div>*@
                
                </p>
                @*<p>*@
                @*<div id="menutop">
                <div>
                    <ul id="menu">
                        <li>

                            @*<iframe width="200" height="150" src="//www.youtube.com/embed/UUF1xlFmLjU" frameborder="1" ></iframe>
                        </li>
                    </ul>
                </div>
            </div>*@

                @*To learn more about ASP.NET MVC visit
            <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
            The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
            If you have any questions about ASP.NET MVC visit*@

                @*<a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            <iframe width="640" height="360" src="//www.youtube.com/embed/kp2xikmkZTs?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>*@
                @*</p>*@
        
            @Html.Partial("_Partialhome")

            @*<table border="0" width="950">
           
                <tr>
                    Bài viết mới đăng **********************|
                    <td style="background:#966; width:230px">
                       
                    </td>
                    Bài viết được xem nhiều nhất ***********|
                        <td style="background:#9CC;width:230px;height:250px"></td>
                    Kiểm tra trình độ Tiếng Anh
                    <td style="background:#393;width:250px;"></td>
                    
                    
                    <td style="background:#ff0000;width:200px"><strong><h3>Thống kê truy cập</h3></strong><br/>Số người đang online
                        <script id="_wauxsa">
                            var _wau = _wau || []; _wau.push(["classic", "o9jetwpot0gg", "xsa"]);
                            (function () {
                                var s = document.createElement("script"); s.async = true;
                                s.src = "http://widgets.amung.us/classic.js";
                                document.getElementsByTagName("head")[0].appendChild(s);
                            })();</script>
                    <br/>
                    Số lượt xem :32359
                    <br/>
                    Từ: @DateTime.Now.ToLongTimeString(),@DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year
                    </td>
                   
                </tr>
      
            </table>*@





            </div>
            @*</div>*@
       
        
     
    </section>
}
@*<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>*@
