﻿@model Blog3.Models.Tag

@using (Html.BeginForm("Create", "Tag", new { idpost=ViewData["idpost"] }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @*<fieldset>*@
        <legend>Add Tag</legend>
        

        @*<div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>*@
        <div class="editor-field">
            @Html.EditorFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        
        

    @*</fieldset>*@
}