﻿<section>
<div id="presto-double-newsbox-list-4" class="widget widget-double-newsbox-list">
    <div class="row">
        <div class="six columns">
            <div class="first-newsbox-list">
                <div class="widget-title"><h3><a href="#" title="Tin mới nhận">Tin mới đăng</a> </h3></div><ul class="newsbox-list">
    <li>
        <div class="newsbox-item">
            <div class="post-thumbnail">
                <a href="#"><img src="~/Images/web/mangthai.jpg" alt="" class=""></a>
            </div>
            <a href="" class="post-title">Học Tiếng Anh như thế nào là hiệu quả ? </a>
    <div class="postmeta">
        <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
    </div>
</div>
                    </li>
                    <li>
                        <div class="newsbox-item">
                            <div class="post-thumbnail">
                                <a href=""><img src="~/Images/web/benh gut.jpg" alt="" class=""></a>
                            </div>
                            <a href="" class="post-title">Học Ngữ Pháp có quan trọng không?</a>
                            <div class="postmeta">
                                <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="newsbox-item">
                            <div class="post-thumbnail">
                                <a href=""><img src="~/Images/web/hen.jpg" alt="" class=""></a>
                            </div>
                            <a href="" class="post-title">Nguyên nhân bạn chưa nói được Tiếng Anh</a>
                            <div class="postmeta">
                                <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                            </div>
                        </div>
                    </li>
             
                <li>
                        <div class="newsbox-item">
                            <div class="post-thumbnail">
                                <a href=""><img src="~/Images/web/ganc.jpg" alt="" class=""></a>
                            </div>
                            <a href="" class="post-title">Hướng dẫn thi TOEIC</a>
                            <div class="postmeta">
                                <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div><div class="six columns">
            <div class="first-newsbox-list">
                <div class="widget-title"><h3><a href="#" title="Được xem nhiều nhất">Bài viết được xem nhiều nhất</a> </h3></div><ul class="newsbox-list">
                    <li>
                        <div class="newsbox-item">
                            <div class="post-thumbnail">
                                <a href="#"><img src="~/Images/web/10ungthu.jpg" alt="" class=""></a>
                            </div>
                            <a href="#" class="post-title">Tiếng Anh giao tiếp cơ bản</a>
                            <div class="postmeta">
                                <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="newsbox-item">
                            <div class="post-thumbnail">
                                <a href=""><img src="~/Images/web/duong.jpg" alt="" class=""></a>
                            </div>
                            <a href="" class="post-title">Học Ngữ Pháp có quan trọng không?</a>
                            <div class="postmeta">
                                <time class="meta-time" datetime="2014-12-12">Dec 12, 2014</time>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="newsbox-item">
                            <div class="post-thumbnail">
                                <a href=""><img src="~/Images/web/daudau.jpg" alt=""class=""></a>
                            </div>
                            <a href="" class="post-title">Luyện phát âm bản xứ thật đơn giản</a>
                            <div class="postmeta">
                                <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                            </div>
                        </div>
                    </li>
          
                 <li>
                        <div class="newsbox-item">
                            <div class="post-thumbnail">
                                <a href=""><img src="~/Images/web/laptop.jpg" alt=""class=""></a>
                            </div>
                            <a href="" class="post-title">Luyện tiếng Anh giao tiếp phản xạ</a>
                            <div class="postmeta">
                                <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>@**@
    
    </section>
