﻿@model Web_Final.Models.Comment

<div class="display-field">

    @if (Model.LastTime == 0)
    {
        <b>Cách đây vài giây trước</b>
    }
    else
    {
        if (Model.LastTime < 3)
        {
            <b>Cách đây vài phút</b>
        }
        else
        {
            if (Model.LastTime < 60)
            {
                <b>Cách đây: @Html.DisplayFor(x => Model.LastTime) phút</b>
            }
            else
            {
                if (Model.LastTime < 60 * 24 - 1)
                {
                    <b>Cách đây: @(Model.LastTime / 60) tiếng</b>
                }
                else
                {
                    <b>Đăng ngày @Model.DateCreated</b>
                }
            }
        }
    }
</div>

<div class="display-field">
    @Model.Body
</div>

