﻿@model IEnumerable <Web_Final.Models.Post>

@{
    ViewBag.Title = "_Search";
}

<h2>Post</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@Html.Partial("_khungSearch", new Web_Final.Models.Post(), ViewData)

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Tags.Select(x => x.Content))
        </th>*@

        <th></th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Tags.Select(x=>x.Content).Single())
            </td>*@
            <td>
                
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>



