﻿@model Web_Final.Models.Post

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@*@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)*@
@using (Html.BeginForm("FileUpload", "Post", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>Post</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        Chọn kiểu bài viết:
        <div class="editor-field">
            @Html.DropDownList("PostTypeID", String.Empty)
            @Html.ValidationMessageFor(model => model.PostTypeID)
        </div>

       
        <div class="editor-label">
            Tag:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => new Web_Final.Models.Tag().Content)
            @Html.ValidationMessageFor(model => new Web_Final.Models.Tag().Content)
        </div>
        Ðang hình: <input type="file" name="file" id="file" style="width: 100%;" /> <br />
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
