﻿@model Web_Final.Models.Post

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@

<fieldset>
    <legend>Post</legend>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>*@
    <div class="display-field">
        <h2>@Html.DisplayFor(model => model.Title)</h2>
    </div>
    <em>Được đăng bởi <strong> @Html.DisplayFor(model=>model.UserProfile.UserName)</strong> lúc @Html.DisplayFor(model=>model.DateCreated)</em>
    <em><br/>Chỉnh sửa @Html.DisplayFor(model=>model.DateUpdated)</em>
    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>*@
    <br/>Nội dung
    <br/>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>*@
    @*them hinh*@
    <img src="\images\@Model.Picture" width="250" height="250"/>
    <!--Hien cac Tag cua Post tuong ung-->
    <div class="post-tags">
        <b>Tags:</b>
        @foreach (var i in Model.Tags)
        {
            <b> @Html.ActionLink(i.Content, "_Search", new { searchString = i.Content });</b>
            //@Html.ActionLink("","", "Tag/" +"Details/" + i.TagID)
        }
    </div>
    
</fieldset>

@Html.Partial("_addComment", new Web_Final.Models.Comment(), ViewData)

<fieldset>
    <legend>Comment</legend>
    <h2>Comment:</h2>
    <div id="result">

        @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreated).Take(10))
        {
            <div class="display-field">
                @if (comment.LastTime < 1)
                {
                    <b>Cách đây vài giây trước</b>
                }
                else
                {
                    if (comment.LastTime < 3)
                    {
                        <b>Cách đây vài phút</b>
                    }
                    else
                    {
                        if (comment.LastTime < 60)
                        {
                            <b>Cách đây: @Html.DisplayFor(x => comment.LastTime) phút</b>
                        }
                        else
                        {
                            if (comment.LastTime < 60 * 24 - 1)
                            {
                                <b>Cách đây: @(comment.LastTime / 60) tiếng</b>
                            }
                            else
                            {
                                <b>Đăng ngày @comment.DateCreated</b>
                            }
                        }
                    }
                }
            </div>

            <div class="display-field">
                @Html.DisplayFor(x => comment.Body)
            </div>
        }
    </div>
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
