﻿@model IEnumerable<Web_Final.Models.Post>

@{
    //ViewBag.Title = "Index";
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<style>
    table{
        border:1px solid black;
        border-collapse: collapse;
    }
</style>

@Html.Partial("_khungSearch", new Web_Final.Models.Post(), ViewData)

@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateUpdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>

    }
</table>*@
<div style="width:800px">
    @foreach (var item in Model)
    {
        //

                           

        //
        <h4>@Html.ActionLink(item.Title, "Details", new { id = item.ID })</h4>
    <div style="border: 1px solid black; border-collapse: collapse;width:500px">
        @item.Body.Substring(0,250) <em>
            @Html.ActionLink("...đọc thêm", "Details", new { id = item.ID }) |
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </em>
    <br />
</div>
    }
</div>