﻿@model Web_Final.Models.Post

@using (Html.BeginForm("_Search", "Post", FormMethod.Post))
{
    <fieldset style="border: 10px; margin: 0; padding: 0;" >
        <div>
            Find: @Html.TextBox("searchString")
            <input type="submit" value="Search" />
        </div>
    </fieldset>
}


