﻿@model Web_Final.Models.PostType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PostType</legend>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.NameType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NameType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdminFlag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdminFlag)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RelationshipFlag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RelationshipFlag)
    </div>*@
    <div style="width:800px">
        @foreach (var item in Model.Posts)
        {
            <h4>@Html.ActionLink(item.Title, "Details", new { id = item.ID })</h4>

            @*@item.Body.Substring(0, 4) <em>@Html.ActionLink("...đọc thêm", "Details","Post", new { id = item.ID })</em>*@
            //
            @item.Body.Substring(0, 25) <em>@Html.ActionLink("...đọc thêm", "Details", new { Controller="Post",action="Details",id=item.ID})</em>
            <br />
        }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
