﻿<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")

        <script language="javascript" type="text/javascript">

            var txt = "My Web!";
            var espera = 200;
            var refresco = null;

            function rotulo_title() {
                document.title = txt;
                txt = txt.substring(1, txt.length) + txt.charAt(0);
                refresco = setTimeout("rotulo_title()", espera);
            }
            rotulo_title();

        </script> 


    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
               
                        <p> <marquee align="center" direction="left" height="20" scrollamount="5" width="100%" behavior="alternate">
                            Xin chào !!!
                        </marquee> </p>
              
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                 
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>
                                
                                @Html.ActionLink("Home", "Index", "Home")
                            </li>
                            <li>@Html.ActionLink("Posts", "Index", "Post")</li>
                            <marquee scrollamount="100" scrolldelay="120" style="height: 40px; width: 100px;">
                                <span style="color: red; font-size: 15px;">Bài Mới</span>
                            </marquee>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @RenderSection("scripts", required: false)
        
    </body>
</html>
